{
  "presets": [
    "next/babel"
  ],
  "ignore": ["node_modules"],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": false,
        "libraryDirectory": "lib"
      }
    ]
  ]
}
